.sidebar {
  background-image: linear-gradient(to top, #272626, #ffc000); /* Change #ffffff to your desired top color */
  height: calc(100vh - 7vh);
  width: 15vw;
  box-shadow: 2px 5px 5px 2px rgb(135, 135, 135);
  z-index: 1;
  position: fixed;
}

.sidebuttons {
  gap: 65px;
  padding: 45px 1px;
  margin-top: 20px;
  width: 100%;
}
