.card {
  width: 18%;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  height: 80%;
  box-shadow: 2px 2px 5px grey;
}
.card-top {
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 15px;
}

.card-top p {
  font-size: small;
  color: rgb(0, 230, 0);
}
