.message-holder {
  display: flex;
  margin-bottom: 10px;
}

.message-holder>div {
  padding: 15px 25px;
  width: 40%;
  color: white;
  text-transform: capitalize;
}

.message-holder>div.left {
  margin-right: auto;
  background-color: grey;
  border-bottom-left-radius: 10px;
}

.message-holder>div.right {
  margin-right: left;
  border-bottom-right-radius: 10px;
  background-color: #ffc000
}