main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-login-title {
  font-size: 4rem;
  background-image: linear-gradient(80deg, #000000, #ffc000);
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
